

.rojo{
    background-color: #CC172A;
    padding: 15px;
}
.negro{
    background-color: #23262B;
    padding: 15px;
    
}

.gris{
    background-color: gainsboro;
    padding: 30px;
    
    
}


h1{
    background-color: #5E5E5E;
    color:#ffffff ;
    position: fixed;
    
}



section{

 float: left; 	   
 width: 70%;

  background-color: #A9A9AD;
  color: #000000;
  border-radius: 5px;
  padding: 15px;
  font-size: 150%;

}

