

.rojo{
    float: left;
    width: 33%;
    background-color: #CC172A;

}
.negro{
    float: left;
    width: 33%;
    background-color: #23262B;
   
    
}

.gris{
    
    float: left;
    width: 33%;
    background-color: gainsboro;

    
    
}






